{% extends 'layout/app.html.twig' %}

{% block title %}PIDEV{% endblock %}
{% block  stylesheets%}
    <link href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <style>

    </style>

{% endblock %}
 {% block breadcrumb %}
     <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
         <!--begin::Page title-->
         <div class="page-title d-flex flex-column me-3">
             <!--begin::Title-->
             <h1 class="d-flex text-white fw-bolder my-1 fs-3">Mes Tranches des crédits</h1>
             <!--end::Title-->
             <!--begin::Breadcrumb-->
             <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                 <!--begin::Item-->
                 <li class="breadcrumb-item text-white opacity-75">
                     <a href="{{ path('home') }}" class="text-white text-hover-primary">Home</a>
                 </li>
                 <!--end::Item-->
                 <!--begin::Item-->

                 <li class="breadcrumb-item">
                     <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                 </li>
                 <li class="breadcrumb-item text-white opacity-75">
                     <a href="{{ path('loan_client') }}" class="text-white text-hover-primary">Mes demandes</a>
                 </li>
                 <!--end::Item-->
                 <!--begin::Item-->

                 <li class="breadcrumb-item">
                     <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                 </li>
                 <!--end::Item-->
                 <!--begin::Item-->
                 <li class="breadcrumb-item text-white opacity-75">Liste des mes tranches</li>
                 <!--end::Item-->
             </ul>
         </div>

     </div>
 {% endblock %}

{% block body %}

    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
        <div class="content flex-row-fluid" id="kt_content">
            <div class="card">

                <h5 class="fs-2hx text-dark mb-5" style="text-align: center!important;margin-top: 20px; text-transform: uppercase">Liste des tranches :</h5>

                <div class="card-body pt-0 mt-10" id="webbinaire">

                    <table class="table table-responsive align-middle table-row-dashed fs-6 gy-5" id="kt_subscriptions_table">
                        <thead>
                        <tr class="text-start text-dark fw-bolder fs-7 text-uppercase gs-0">
                            <th class="min-w-125px">Crédit</th>
                            <th class="min-w-125px">Montant</th>
                            <th class="min-w-125px">Date de début</th>
                            <th class="min-w-125px">Date de fin</th>
                            <th class="min-w-125px">Validité</th>
                        </tr>
                        </thead>

                        <tbody class="text-gray-600 fw-bold">
                        {% for tranche in tranches %}
                            <tr>

                                <td>
                                    <a  class="text-gray-800 text-hover-primary mb-1">{{ tranche.credit?tranche.credit.id:'' }}</a>
                                </td>
                                <td>
                                    <div class="badge badge badge-light">
                                        {{ tranche.amount?tranche.amount:'' }} DT
                                    </div>
                                </td>

                                <td>
                                    <div class="badge badge badge-light">
                                        {{ tranche.startDate?tranche.startDate|date('d-m-Y'):'' }}
                                    </div>
                                </td>
                                <td>
                                    <div class="badge badge badge-light">
                                        {{ tranche.endDate?tranche.endDate|date('d-m-Y'):'' }}
                                    </div>
                                </td>
                                <td>
                                    <div class="badge badge badge-light">
                                        {{ tranche.isVAlid?'Valide':'Non valide' }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script>

        $(document).ready( function () {
            $('#kt_subscriptions_table').DataTable({
                "paging" :false,
                "info"   :false,
                "filter" : false,
            });
        } );
    </script>
{% endblock %}
