{% extends 'mail/base.html.twig' %}
{% block body %}
    <tr border="1" style="border-color: lightgray;">
        <td align="left" style="font-size:0px;  padding:10px 25px;word-break:break-word; border-bottom: 1px solid lightgray; ">
            <div class="inter" style="font-family:Lato, Helvetica, Arial, sans-serif;  font-size:18px;text-align:left;color:#000000;">
                <p>Bonjour {{ user.lastName?user.lastName:'' }} {{ user.firstName?user.firstName:'' }}, une nouvelle demande de crédit a été envoyé par <br>
                    {{ loan.user?loan.user.lastName:'' }} {{ loan.user?loan.user.firstName:'' }} <br>
                    - Montant :  <span style="color: #0a53be">{{ loan.amount?loan.amount:'' }}</span> <br>
                    - Durée  :  <span style="color: #0a53be">{{ loan.duration?loan.duration:'' }}</span>
                </p>
            </div>
        </td>
    </tr>
{% endblock %}
